---
layout: null
title: Yiheng Liu
description: Lab.
sitemap:
    priority: 1.0
    lastmod: 2018-01-27
    changefreq: weekly
---
<!DOCTYPE HTML>

<html>

<head>
  {% include head.html %}
</head>

<body class="is-loading">

  <!-- Wrapper -->
  <div id="wrapper" class="fade-in">

    <!-- Intro -->
    <div id="intro">
      <h1>{{site.title}}</h1>
      <p>You only live once, <br />but if you do it right, <br />once is enough.</p>
      <ul class="actions">
        <li><a href="#nav" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
      </ul>
    </div>

    {% include nav.html %}
    <!-- Main -->
    <div id="main">
      <article class="post">
        <p>I am a master degree candidate of University of Science and Technology of China, advised by Dr.Houqiang Li & A/Prof. Wengang Zhou.</p>
      </article>
      <section id="resume" class="post">
        <div class="resume-timeline">
          <div class="col-twelve">
            <div class="timeline-wrap">
              <div class="timeline-block">
                <div class="timeline-ico">
                  <!-- <i class="fa fa-briefcase"></i> -->
                  <i class="fa fa-graduation-cap"></i>
                </div>
                <div class="timeline-header">
                  <h3>Master</h3>
                  <p>Sept 2017 - Present</p>
                </div>
                <div class="timeline-content">
                  <h4>University of Science and Technology of China</h4>
                  <h5>I studied in department of electronic engineering and information science.</h5>
                  <p><a href="http://vr.shouxi360.com/index.php?m=content&c=index&a=show&catid=26&id=pyJSHx6yjqg">Click me to see it.</a></p>
                </div>
              </div>
              <!-- /timeline-block -->

              <div class="timeline-block">
                <div class="timeline-ico">
                  <i class="fa fa-graduation-cap"></i>
                </div>
                <div class="timeline-header">
                  <h3>Bachelor</h3>
                  <p>Sept 2013 - July 2017</p>
                </div>
                <div class="timeline-content">
                  <h4>University of Science and Technology of China</h4>
                  <h5>I studied in department of electronic engineering and information science.</h5>
                  <p>
                    2017 Outstanding Graduates of School<br> 2016 National Scholarship<br> 2015 CIB Global Scholarship<br> 2014 Excellent Student Scholarship<br>
                  </p>
                </div>
              </div>
              <!-- /timeline-block -->

              <div class="timeline-block">
                <div class="timeline-ico">
                  <i class="fa fa-graduation-cap"></i>
                </div>
                <div class="timeline-header">
                  <h3>High School</h3>
                  <p>Sept 2010 - July 2013</p>
                </div>
                <div class="timeline-content">
                  <h4>No.47 Middle School of Zhengzhou</h4>
                  <h5>I studied in Hongzhi class.</h5>
                </div>
              </div>
              <!-- /timeline-block -->
            </div>
            <!-- /timeline-wrap -->
          </div>
          <!-- /col-twelve -->
        </div>
        <!-- /resume-timeline -->
      </section>
      <!-- /features -->
    </div>
    <!-- Footer -->
    {% include foot.html %}

  </div>

  <!-- Scripts -->
  {% include scripts-main.html %} {% include tracking.html %}

</body>

</html>
