---
layout: null
title: Yiheng Liu 刘一衡
description: Yiheng Liu 刘一衡
sitemap:
priority: 1.0
lastmod: 2018-01-27
changefreq: weekly
---
<!DOCTYPE HTML>

<html>

<head>
  {% include head.html %}
</head>

<body class="is-loading">

  <!-- Wrapper -->
  <div id="wrapper" class="fade-in">

    <!-- Intro -->
    <div id="intro">
      <h1>{{site.title}}</h1>
      <p>You only live once, <br />but if you do it right, <br />once is enough.</p>
      <ul class="actions">
        <li><a href="#nav" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
      </ul>
    </div>

    {% include nav.html %}
    <!-- Main -->
    <div id="main">
      <article class="post">

        <div class="row">
          <div class="6u 12u$(small)">

            <center class="half">
              <img src="{{ site.data.images.index.me['root']}}{{ site.data.images.index.me['img'][0]}}" alt=""
                width="70%" />
            </center>

          </div>
          <div class="6u$ 12u$(small)">

            <div class="box">
              I received the B.E. and Ph.D. degrees in electronic information engineering from the University of Science and Technology of China (USTC), Hefei, China, in 2017 and 2022. <br>
              <!-- I was advised by
              <a href="http://staff.ustc.edu.cn/~lihq/research.html">Prof. Houqiang Li</a> & <a
                href="http://staff.ustc.edu.cn/~zhwg/">Prof. Wengang Zhou</a>.-->
            </div>

          </div>
        </div>

      </article>

      <section id="resume" class="post">
        <div class="resume-timeline">
          <div class="col-twelve">
            <div class="timeline-wrap">

              <div class="timeline-block"></div>
                <div class="timeline-ico">
                  <i class="fa fa-briefcase"></i> 
                </div>
                <div class="timeline-header">
                  <h3>Researcher</h3>
                  <p>July 2022 - Now</p>
                </div>
                <div class="timeline-content">
                  <h4>ByteDance</h4>

                  <div class="box compact">
                    <font size="3">
                      <b>Collaborative Tracking Learning for Frame-Rate-Insensitive Multi-Object Tracking</b> <a href="https://openaccess.thecvf.com/content/ICCV2023/papers/Liu_Collaborative_Tracking_Learning_for_Frame-Rate-Insensitive_Multi-Object_Tracking_ICCV_2023_paper.pdf">[PDF]</a><br>
                    </font>
                    <font size="2">
                      Yiheng Liu, Junta Wu, Yi Fu<br>
                      ICCV, 2023.
                    </font>
                  </div>

                  <div class="box compact">
                    <font size="3">
                      <b>PhotoVerse: Tuning-Free Image Customization with Text-to-Image Diffusion Models</b> <a href="https://arxiv.org/abs/2309.05793">[PDF]</a><br>
                    </font>
                    <font size="2">
                      Li Chen, Mengyi Zhao, Yiheng Liu, Mingxu Ding, Yangyang Song, Shizun Wang, Xu Wang, Hao Yang, Jing Liu, Kang Du, Min Zheng<br>
                      arXiv, 2023.<br>
                      Li Chen, Mengyi Zhao, Yiheng Liu contributed equally.
                    </font>
                  </div>
                </div>
              </div>

              <!-- /timeline-block -->
              <div class="timeline-block">
                <div class="timeline-ico">
                  <!-- <i class="fa fa-briefcase"></i> -->
                  <i class="fa fa-graduation-cap"></i>
                </div>
                <div class="timeline-header">
                  <h3>Doctor</h3>
                  <p>Sept 2017 - July 2022</p>
                </div>
                <div class="timeline-content">
                  <h4>University of Science and Technology of China</h4>

                  <p>
                    ResearchGate <a href="https://www.researchgate.net/profile/Liu-Yiheng">[link]</a>
                  </p>
                  
                  <div class="box compact">
                    <font size="3">
                      <b>Unsupervised Person Re-Identification with Wireless Positioning under Weak Scene Labeling</b> <a href="https://ieeexplore.ieee.org/abstract/document/9849853">[PDF]</a><br>
                    </font>
                    <font size="2">
                      Yiheng Liu, Wengang Zhou, Qiaokang Xie, Houqiang Li<br>
                      TPAMI，2022.
                    </font>
                  </div>

                  <div class="box compact">
                    <font size="3">
                      <b>An End-to-End Foreground-Aware Network for Person Re-Identification</b> <a href="https://ieeexplore.ieee.org/document/9328178?source=authoralert">[PDF]</a><br>
                    </font>
                    <font size="2">
                      Yiheng Liu, Wengang Zhou, Jianzhuang Liu, Guo-Jun Qi, Qi Tian, Houqiang Li<br>
                      TIP, 2021.
                    </font>
                  </div>

                  <div class="box compact">
                    <font size="3">
                      <b>Multi-Modal Context Propagation for Person Re-Identification with Wireless Positioning</b> <a href="https://ieeexplore.ieee.org/document/9466326">[PDF]</a><br>
                    </font>
                    <font size="2">
                      Yiheng Liu, Wengang Zhou, Mao Xi, Sanjing Shen, and Houqiang Li<br>
                      TMM, 2021.
                    </font>
                  </div>

                  <div class="box compact">
                    <font size="3">
                      <b>Vision Meets Wireless Positioning: Effective Person Re-identification with Recurrent Context
                        Propagation</b> <a href="https://dl.acm.org/doi/10.1145/3394171.3413984">[PDF]</a><br>
                    </font>
                    <font size="2">
                      Yiheng Liu, Wengang Zhou, Mao Xi, Sanjing Shen, and Houqiang Li<br>
                      MM, Oral Paper, 2020.
                    </font>
                  </div>

                  <div class="box compact">
                    <font size="3">
                      <b>Spatial and Temporal Mutual Promotion for Video-based Person Re-identification</b> <a
                        href="https://www.aaai.org/ojs/index.php/AAAI/article/view/4904/4777">[PDF] <a
                          href="https://arxiv.org/abs/1812.10305">[Arxiv]</a><br>
                    </font>
                    <font size="2">
                      Yiheng Liu, Zhenxun Yuan, Wengang Zhou, and Houqiang Li<br>
                      AAAI, 2019.
                    </font>
                  </div>

                  <div class="box compact">
                    <font size="3">
                      <b>Effective Similarity Measurement for Video-based Person Re-identification</b> <a href="https://ieeexplore.ieee.org/document/8698685">[PDF]</a><br>
                    </font>
                    <font size="2">
                      Yiheng Liu, Chao Xie, Wengang Zhou, and Houqiang Li<br>
                      VCIP, 2018.
                    </font>
                  </div>

                  <div class="box compact">
                    <font size="3">
                      <b>WIDER Face and Pedestrian Challenge in conjunction with ECCV 2018.</b><br>
                    </font>
                    <font size="2">
                      We won 3rd place in the track of WIDER Person Search.
                    </font>
                  </div>

                  <p>
                    2018 SCAI Outstanding Volunteer
                  </p>
                </div>
              </div>
              <!-- /timeline-block -->

              <div class="timeline-block">
                <div class="timeline-ico">
                  <i class="fa fa-graduation-cap"></i>
                </div>
                <div class="timeline-header">
                  <h3>Bachelor</h3>
                  <p>Sept 2013 - July 2017</p>
                </div>
                <div class="timeline-content">
                  <h4><a
                      href="http://vr.shouxi360.com/index.php?m=content&c=index&a=show&catid=26&id=pyJSHx6yjqg">University
                      of Science and Technology of China</a></h4>
                  <p>
                    2017 Outstanding Graduates of School<br>
                    2016 <b>National Scholarship</b><br>
                    2015 CIB Global Scholarship<br>
                    2014 Excellence Award of RoboGame<br>
                    2014 Excellent Student Scholarship<br>
                  </p>
                </div>
              </div>
              <!-- /timeline-block -->

              <div class="timeline-block">
                <div class="timeline-ico">
                  <i class="fa fa-graduation-cap"></i>
                </div>
                <div class="timeline-header">
                  <h3>High School</h3>
                  <p>Sept 2010 - July 2013</p>
                </div>
                <div class="timeline-content">
                  <h4>No.47 Middle School of Zhengzhou</h4>
                  <b>
                    <font size="4">Hongzhi class.</font>
                  </b>
                </div>
              </div>
              <!-- /timeline-block -->
            </div>
            <!-- /timeline-wrap -->
          </div>
          <!-- /col-twelve -->
        </div>
        <!-- /resume-timeline -->
      </section>
      <!-- /features -->
    </div>
    <!-- Footer -->
    {% include foot.html %}

  </div>

  <!-- Scripts -->
  {% include scripts-main.html %}

</body>

</html>
