<!-- DYN -->
<script src="{{ "/assets/js/jquery.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/skel.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/util.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/main.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/site.js" | absolute_url }}"></script>

<script type="text/javascript">
    $(document).ready(function() {
      $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var img = button.data('img')
        var modal = $(this)
        modal.find('.modal-img').attr('src', img)
      })
    })
  </script>
